.remove{
    cursor: pointer;
}
.dropable {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }

  .bg-blue {
    background-color: lightblue;
  }
  .bg-pink {
    background-color: lightcoral;
  }
  .bg-blue-dark {
    background-color: blue;
  }
  .bg-pink-dark {
    background-color: #eb5252;
  }
  textarea {
    width: 500px;
  }